/*----------------------------------------------- #||--breakpoints--|| */


/* #\-USES-\ */

    /* --MEDIA */
    @use '../media/media';


/* #\-VARIABLES-\ */

    /* --* */
    $bp1: media.getBreakpoint(1);
    $bp2: media.getBreakpoint(2);
    $bp3: media.getBreakpoint(3);
    $bp4: media.getBreakpoint(4);
    $bp5: media.getBreakpoint(5);
    $bp6: media.getBreakpoint(6);