/*----------------------------------------------- #||--breakpoints--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --DEPENDENCIES */

    /* --MEDIA */
    @use '../media/media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $bp1: media.getBreakpoint(1);
    $bp2: media.getBreakpoint(2);
    $bp3: media.getBreakpoint(3);
    $bp4: media.getBreakpoint(4);
    $bp5: media.getBreakpoint(5);
    $bp6: media.getBreakpoint(6);

    $bp: // module
    (
        bp1 $bp1,
        bp2 $bp2,
        bp3 $bp3,
        bp4 $bp4,
        bp5 $bp5,
        bp6 $bp6
    );


/* #\-FUNCTIONS-\ */

    /* --* */


/* #\-MIXINS-\ */

    /* --* */


/* #\-PLACEHOLDERS-\ */

    /* --* */


/* #\-THIS-\ */