/*----------------------------------------------- #||--colors--|| */


/* #\-VARIABLES-\ */

    /* --* */
    $lgh1: #FFFFFF;
    $lgh2: #F6F6F6;
    $drk1: #353535;
    $drk2: #101010;
    $drk3: #000000;
    $itm1: #EAEAEA;
    $itm2: #7E7E7E;
    $prm1: #FF79DA;
    $prm2: #9356DC;
    $scd1: #99E2D0;
    $scd2: #008766;
    $trt1: #89C8FA; 
    $trt2: #003A68;
    $idc : red    ;