/*----------------------------------------------- #||--vars--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $g1:  .3rem;
    $g2:   1rem;
    $g3: 1.6rem;
    $g4: 2.2rem;
    $g5: 4.2rem;

    $max_WIDTH: 78.06;

    $scrollbar_SIZE: 1rem;

    $v: (); // module


/* #\-FUNCTIONS-\ */

    /* --* */


/* #\-MIXINS-\ */

    /* --* */


/* #\-PLACEHOLDERS-\ */

    /* --* */


/* #\-THIS-\ */