/*----------------------------------------------- #||--tuto--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use '../../global/vars'   as *;
    @use '../../global/colors' as *;

    /* --DEPENDENCIES */

    /* --MEDIA */
    @use '../../media/media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $margin_LEFT: 1.2rem;


/* #\-FUNCTIONS-\ */

    /* --* */


/* #\-MIXINS-\ */

    /* --* */


/* #\-PLACEHOLDERS-\ */

    /* --* */


/* #\-THIS-\ */

#home .tuto
{
    .bubble
    {
        margin-left: $margin_LEFT;

        i { height: min-content; }

        .marker
        {
            $s: $margin_LEFT*2;
        
            width : $s;
            height: $s;

            border-radius: 50%;
        }

        @include media.mobile { width: 100%; }
    }

    @include media.mobile($not: true) { min-height: 228px; }
}