/*----------------------------------------------- #||--form--|| */


/* #\-USES-\ */

    /* --GLOBAL */
    @use '../../global/vars' as *;

    /* --DEPENDENCIES */
    @use '../../utils/utils';

    /* --MEDIA */
    @use '../../media/media';


/* #\-VARIABLES-\ */

    /* --* */
    $label_MAX     : 4   ; // normally we would calculate the number of children with JS
    $label_DELAY   : .1s ;
    $label_DURATION: .4s ;
    $checked_WIDTH : 59px;


/* #\-THIS-\ */

#restaurant .form
{
    &::before
    {
        @include utils.constructor(c_void, p_abs, t_0, r_0, l_0, t_y-100, w_any, b_lgh2);

        height: $g5;

        border-top-left-radius : $g5;
        border-top-right-radius: $g5;
    }

    .container
    {
        h2::after
        {
            @include utils.constructor(c_void, p_abs, b_0, l_0, brd_c_scd1);

            width: $g5;

            border-bottom: solid $g1;
        }

        // added a delay to each label according to its position in the menu
        // I start the iteration of j at 2 because my .container contains a title
        //                         class    {                                         label:nth-child(j)     { animation-delay: delay                                                   ; } 
        @for $i from 1 through 3 { &.c#{$i} { @for $j from 2 through $label_MAX + 1 { label:nth-child(#{$j}) { animation-delay: $label_DELAY * $label_MAX * ($i - 1) + $label_DELAY * $j; } } } }
    
        label
        {
            cursor: pointer;

            animation: fly .4s ease-out forwards;

            @keyframes fly
            {
                100%
                {
                    transform: none;

                    opacity: 1;
                }
            }
        }

        input[type="checkbox"]:checked ~ .checked
        {
            width: $checked_WIDTH;

            &>div { transform: translateX(0); }
        }

        h3, p { text-overflow: ellipsis; }

        .price { align-self: end; }

        .checked
        {
            &, &>div
            {
                width: 0;

                transition-duration       : .26s;
                transition-timing-function: ease-out;
            }

            // In terms of performance and SEO, it's a bad idea to use properties that modify dimensions (such as width), but for this animation, I can't use transformations because the surrounding elements must also be affected.
            transition-property: width;

            &>div
            {
                transform: translateX(100%);
        
                width: $checked_WIDTH;
    
                font-size: 2rem;

                transition-property: transform;
            }
        }
    }

    @include media.desktop
    {
        padding-inline: $max_WIDTH*0.1995*1vw;

        .head
        {
            justify-content: center;

            padding-top: $g2;
        }
    }
}