/*----------------------------------------------- #||--heart--|| */


/* #\-USES-\ */

    /* --DEPENDENCIES */
    @use '../utils/utils';


/* #\-THIS-\ */

.heart
{
    font-size: 2.2rem;

    cursor: pointer;

    input[type="checkbox"]:checked + i.fa-regular, i.fa-solid { @extend %o_0; }

    input[type="checkbox"]:checked + i.fa-regular + i.fa-solid { @extend %o_1; }

    i
    {
        transition: opacity .2s;

        &.fa-solid { background-clip: text; }
    }
}